.app-footer{
    width: 100%;
    height: 80px;
    background-color: #ef925e;
}
.vt-container{
    height: calc( 100% - 80px );
}

.app-drawer{
    background-color: white;
    z-index: 7;
    width: 30%;
    height: calc( 100% - 80px);
    border-left: 1px solid #e3e3e3;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .app-layout.hidden .app-drawer{
    display: none;
  }

.app-footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.drawer-btn-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
}

.drawer-btn-container .ant-btn{
    background: #756DA9;
    border-color: #756DA9;

}