.library-page-container{
    position: relative;
}

.library-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.library-header > * ~ * {
    margin-left: 1rem!important;
}

.library-wrapper {
    height: calc( 100% - 70px );
    display: flex;
}

.container{
    overflow-y: overlay;
    width: calc( 100% - 400px);
    border-top: 1px solid #5B5B5B;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 33px;
    background: #756DA9;
}

.container.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.library-wrapper.hidden .container{
    width: 100%
}

.library-sider {
    position: relative;
    display: grid;
    border-top: 1px solid #5B5B5B;
    border-left: 1px solid #5B5B5B;
    grid-template-rows: 1fr 80px;
    grid-template-areas: 
        "game"
        "actions";
}

.game-wrapper{
    overflow-y: overlay;
    grid-area: game;
    display: grid;
    grid-template-rows: 200px auto 100px 100px;
    grid-template-columns: 400px;
}

.form-game-wrapper{
    grid-area: game;
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-columns: 400px;
}

.close-button{
    z-index: 9;
    position: absolute;
    top: 20px;
    left: 20px;
}

.library-sider p {
    word-wrap: break-word;
}

.game-header{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.description-wrapper{
    padding: 20px;
    border-top: 1px solid #e3e3e3;
}

.description-wrapper .ant-input{
    height: 100%;
}

.details-wrapper{
    border-bottom: 1px solid #e3e3e3;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    overflow: overlay;
    justify-content: space-around;
    flex-direction: column;
}

.players{
    overflow: overlay;
    max-height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.actions-wrapper{
    height: 80px;
    grid-area: actions;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.actions-wrapper > * ~ * {
    margin-left: 1rem;
}
